<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>D3 Table - F1 Leaderboard</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <!-- specify a table with a row describing the title of each column -->
<table>
  <tr>
    <th>
      Pos
    </th>
    <th>
      Driver
    </th>
    <th>
      Gap
    </th>
  </tr>
</table>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
