<!DOCTYPE html>
<html lang="en">
<head>
  <title>SpringHack</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  
<div class="container">
  <h1>LOGIN REQUIRED</h1>
  <p>Enter the values in the form below.</p>      
</div>

<div class="container">
  
  <form action="/springhack/account" method = 'post'>
    <div class="form-group">
      <label for="busLineId">Member ID:</label>
      <input type="text" class="form-control" id="member_id" name="member_id">
    </div>

    <div class="form-group">
      <label for="dep_time">Password:</label>
      <input type="password" class="form-control" id="pwd" name="pwd">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

  </form>
</div>

</body>  



</html>